<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">
	<resultMap type="com.ThanatosServer.Model.Users" id="Users">
			  <id property="id" column="Userid" />
			  <result property="username" column="Username"/>
			  <result property="password" column="Password"/>
	</resultMap>
	<resultMap type="com.thanatos.shared.RmiOrder" id="RmiOrder">
		  <id property="id" column="Orderid" />
		  <result property="symbol" column="Symbol"/>
		  <result property="quantity" column="Quantity"/>
		  <result property="orderStatus" column="OrderStatus"/>
	</resultMap>
	<resultMap type="com.thanatos.shared.RmiQuote" id="RmiQuote">
			  <id property="id" column="Quoteid" />
			  <result property="symbol" column="Symbol"/>
			  <result property="lastPx" column="LastPx"/>
			  <result property="dayHigh" column="DayHigh"/>
			  <result property="dayLow" column="DayLow"/>
			  <result property="volume" column="Volume"/>
			  <result property="change" column="Change"/>
			  <result property="open" column="[Open]"/>
			  <result property="prevClose" column="PrevClose"/>
			  <result property="bid" column="Bid"/>
			  <result property="ask" column="Ask"/>
			  <result property="timeDate" column="TimeDate"/>
	</resultMap>
	
    <select id="selectUser" resultMap="Users">
    		SELECT * FROM Users where
    		USERNAME=#{username} AND
    		PASSWORD=#{password}
    </select>
    
     <select id="latestQuote" resultMap="RmiQuote" parameterType="string">
       Select * from HistoricalQuote
 			where  CONVERT(VARCHAR(10),TimeDate,110) =(
			Select TOP(1) CONVERT(VARCHAR(10),TimeDate,110) as latestDate from HistoricalQuote order by Quoteid desc)
			and SYMBOL=#{quote}
			order by QuoteId asc
    </select>
    
    <select id="quoteInfo" resultMap="RmiQuote">
    		SELECT * FROM Quote where
    		SYMBOL in 
		 <foreach item="item" index="index" collection="list"
		      open="(" separator="," close=")">
		        #{item}
		  </foreach>
    </select>
     <select id="pendingOrder" resultMap="RmiOrder" parameterType="int">
 		SELECT * FROM [Order] where
 		OrderStatus =#{value}
	 </select>
</mapper>

