/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.combo-box-popup > .list-view {
    -fx-pref-width: 100;
}
.combo-box {
    -fx-pref-width: 100;
}
.table-column{
	-fx-background-color: black ;
	-fx-text-fill: white ;
	-fx-alignment: CENTER;
}
.table-column .label{
	-fx-text-fill: orange ;
}
.titled-pane{
	-fx-background-fills: black;
	-fx-text-fill: white ;
	-fx-color: black;
}