/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.combo-box-popup > .list-view {
    -fx-pref-width: 100;
}

.combo-box {
    -fx-pref-width: 100;
}

.table-column{
	-fx-background-color: #191919;
	-fx-alignment: CENTER;
	-fx-border-color: transparent black transparent transparent;
}

.table-column .label{
	-fx-text-fill: orange ;
}

.table-view .table-cell:empty{
	-fx-background-color: black;
}

.table-view .table-cell{
	-fx-text-fill: white ;
	-fx-border-color: black;

}
.table-view{
	-fx-background-color: black;
}
.table-view:focused{
	-fx-border-color: #00bfff;
}
#openLbl,#pendingLbl{
	-fx-background-color: black;
	-fx-text-fill: white ;
}
.chart-plot-background {
    -fx-background-color: #191919;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart{
	-fx-background-color: #191919;
}
.chart-title {
  -fx-text-fill: white;
  -fx-font-size: 1.6em;
}
